<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Natural Language Processing</title>
  </head>
  <body class="container">
    <div class="app-container">
      <header>
        <div class="heading">
          <h1>Natural Language Demo</h1>
        </div>
      </header>
      <main>
        <section class="form-section">
          <form
            class="form-container"
            onsubmit="return Client.handleSubmit(event)"
          >
            <input
              id="name"
              type="text"
              name="input"
              value=""
              placeholder="Name"
              class="name-field"
            />
            <span class="error"></span>
            <input
              type="submit"
              name=""
              value="submit"
              class="submit-button"
              onclick="return Client.handleSubmit(event)"
              onsubmit="return Client.handleSubmit(event)"
            />
          </form>
        </section>
      </main>
      <footer>
        <p>Here are the results of your submission:</p>
        <div class="show-results"></div>
      </footer>
    </div>
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
