.app-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  main {
    display: flex;
    margin-left: 5%;
    margin-top: 3%;
    width: 100%;
  }
  footer {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }
}
